@import "tailwindcss";

@theme inline {
  --color-bg: #282c33;
  --color-gray: #abb2bf;
  --color-primary: #c778dd;

  --font-mono: var(--font-fira-code), "Fira Code", ui-monospace, monospace;

  --text-body: 16px;
  --text-body--line-height: 21px;
  --text-quote: 24px;
  --text-quote--line-height: 31px;
  --text-heading: 32px;
  --text-heading--line-height: 42px;
}

body {
  background: var(--color-bg);
}
